<div class="container">
    <span class="text-center">
        <h1 [innerText]="Portfolio.firstName+' '+Portfolio.middleName+' '+Portfolio.lastName[0]"></h1>
        <h2 class="subHeading" [innerText]="Portfolio.subheading"></h2>
        <img src="../assets/img/me.JPG" class="rounded-circle mx-auto d-block smallerImg">
    </span>
    <span class="text-center">
        <h5> You can connect to me through: </h5>
    </span>
    <div class="row justify-content-center">
        <a [href]="social.link" class="p-2" target="blank" *ngFor="let social of Portfolio.socialMedia">
            <i [style.color]="social.color" [class]="social.icon"></i>
        </a>
    </div>
    <div>
        <h4>
            <i class="fa fa-plus" (click)="toggleOpen('logOpen')" *ngIf="logOpen; else logExpanded"></i>
            <ng-template #logExpanded>
                <i class="fa fa-minus" (click)="toggleOpen('logOpen')"></i>
            </ng-template>
            ChangeLog
        </h4>
        <p class="description">I've been studying Web Development and here are somethings which I went to do in the progress</p>
        <div *ngIf="!logOpen" [@fadeInOut]>
            <ul>
                <portfolio-change *ngFor="let change of Portfolio.changeLog" [changeData]="change">

                </portfolio-change>
                <!-- <li *ngFor="let change of Portfolio.changeLog"
                [style.color]="change.color" 
                (mouseenter)="change.showDetails= true;" 
                (mouseleave)="change.showDetails= false;">
                    <div [innerText]="change.month +' - '+change.year"></div>
                    <div [innerText]="change.highlight"></div>
                    <div *ngIf="change.showDetails" [@fadeInOut] class="changeLogDetails" 
                    [innerText]="change.details"></div>
                </li> -->
            </ul>
        </div>
        <div>
            <h4>
                <i class="fa fa-plus" *ngIf="updateOpen; else updateExpanded" (click)="toggleOpen('updateOpen')"></i>
                <ng-template #updateExpanded>
                    <i class="fa fa-minus" (click)="toggleOpen('updateOpen')"></i>
                </ng-template>
                Updates
            </h4>
            <p>Just a little more something on things going on in my life</p>
            <div *ngIf='!updateOpen' [@fadeInOut]>
                <ul>
                    <portfolio-update *ngFor="let desc of Portfolio.Updates"
                     [update]="desc"></portfolio-update>
                </ul>
            </div>
        </div>
        <div>
            <h4>
                <i class="fa fa-plus" *ngIf="bioOpen; else bioExpanded" (click)="toggleOpen('bioOpen')"></i>
                <ng-template #bioExpanded>
                    <i class="fa fa-minus" (click)="toggleOpen('bioOpen')"></i>
                </ng-template>
                Speaker Bio
            </h4>
            <div *ngIf="!bioOpen" [@fadeInOut] class="p-4 mb-5 speakerBio" [innerText]="Portfolio.speakerBio"></div>
        </div>
    </div>
</div>